aws-cdk.aws-events==1.14.0
aws-cdk.aws-events-targets==1.14.0
aws-cdk.aws-lambda==1.14.0
aws-cdk.aws-s3==1.14.0
aws-cdk.aws-stepfunctions==1.14.0
aws-cdk.aws-stepfunctions-tasks==1.14.0
aws-cdk.core==1.14.0

black
pylint
rope
