appdirs==1.4.3
astroid==2.3.3
attrs==19.3.0
aws-cdk.assets==1.20.0
aws-cdk.aws-apigateway==1.20.0
aws-cdk.aws-applicationautoscaling==1.20.0
aws-cdk.aws-autoscaling==1.20.0
aws-cdk.aws-autoscaling-common==1.20.0
aws-cdk.aws-autoscaling-hooktargets==1.20.0
aws-cdk.aws-certificatemanager==1.20.0
aws-cdk.aws-cloudformation==1.20.0
aws-cdk.aws-cloudfront==1.20.0
aws-cdk.aws-cloudwatch==1.20.0
aws-cdk.aws-codebuild==1.20.0
aws-cdk.aws-codecommit==1.20.0
aws-cdk.aws-codepipeline==1.20.0
aws-cdk.aws-ec2==1.20.0
aws-cdk.aws-ecr==1.20.0
aws-cdk.aws-ecr-assets==1.20.0
aws-cdk.aws-ecs==1.20.0
aws-cdk.aws-elasticloadbalancing==1.20.0
aws-cdk.aws-elasticloadbalancingv2==1.20.0
aws-cdk.aws-events==1.20.0
aws-cdk.aws-events-targets==1.20.0
aws-cdk.aws-iam==1.20.0
aws-cdk.aws-kms==1.20.0
aws-cdk.aws-lambda==1.20.0
aws-cdk.aws-logs==1.20.0
aws-cdk.aws-route53==1.20.0
aws-cdk.aws-route53-targets==1.20.0
aws-cdk.aws-s3==1.20.0
aws-cdk.aws-s3-assets==1.20.0
aws-cdk.aws-sam==1.20.0
aws-cdk.aws-secretsmanager==1.20.0
aws-cdk.aws-servicediscovery==1.20.0
aws-cdk.aws-sns==1.20.0
aws-cdk.aws-sns-subscriptions==1.20.0
aws-cdk.aws-sqs==1.20.0
aws-cdk.aws-ssm==1.20.0
aws-cdk.aws-stepfunctions==1.20.0
aws-cdk.aws-stepfunctions-tasks==1.20.0
aws-cdk.core==1.20.0
aws-cdk.cx-api==1.20.0
aws-cdk.region-info==1.20.0
black==19.10b0
cattrs==1.0.0
Click==7.0
isort==4.3.21
jsii==0.21.1
lazy-object-proxy==1.4.3
mccabe==0.6.1
pathspec==0.7.0
publication==0.0.3
pylint==2.4.4
python-dateutil==2.8.1
regex==2020.1.8
six==1.13.0
toml==0.10.0
typed-ast==1.4.0
typing-extensions==3.7.4.1
wrapt==1.11.2
